*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    /* border-box impede que o elemento filho ultrapasse o tamanho do elemento pai */
    box-sizing: border-box; 
}

body{
    background-color: #000;
    color: #fff;
}

a{
    text-decoration: none;
    color: rgb(240, 179, 100);
    transition: 0.5s;
}
a:hover{
    color: rgb(212, 120, 0);
}